.QuranPage {
  font-size: 28px;
  line-height: 175%;
  text-align: center;
  word-wrap: break-word;
  margin: 0 auto;
  max-width: 401.347353484px;
  padding: 5px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-height: calc(100% - 53px);
}

.QuranPageContent {
  margin: auto 0;
}

.QuranPageNumber {
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}

.QuranPageChapterAndSection {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
  padding: 0px 10px;
}

.QuranPageChapter {
  flex-grow: 1;
  text-align: left;
  font-family: font_chapter_title;
}

.QuranPageSection {
  flex-grow: 1;
  text-align: right;
}
