.QuranPage {
  font-size: 27px;
  line-height: 195%;
  text-align: center;
  word-wrap: break-word;
  margin: 0 auto;
  max-width: 389.999999988px;
  padding: 5px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.QuranPageContent {
  flex-grow: 1;
  margin-top: auto;
}

.QuranPageNumber {
  font-size: 12px;
  line-height: 12px;
}
