.Quran {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.QuranChapters {
  background: rgba(219, 212, 186, 0.3);
  width: 367px;
  height: 100%;
  overflow-y: auto;
}

.QuranReader {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.QuranContent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  max-height: calc(100% - 36px);
  overflow-x: auto;
}

.QuranLoading {
  text-align: center;
}

.QuranButtons {
  margin: 5px auto;
  height: 21px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  text-align: left;
  display: flex;

  > button {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 5px;
    }
    &:nth-child(2) {
      margin-right: auto;
    }
  }
}

.QuranFontSizeSmall:after {
  content: 'A-';
  font-size: 9px;
}

.QuranFontSizeLarge:after {
  content: 'A+';
}
