.Quran {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.QuranLoading {
  text-align: center;
}

.QuranButtons {
  margin-top: 5px;
  height: 21px;
  flex-basis: 100%;
  width: 0;

  > button:first-child {
    margin-right: -120px;
    float: left;
  }

  > button:nth-child(2) {
    margin-right: 5px;
  }

  > button:last-child {
    margin-left: -120px;
    float: right;
  }

  > button {
    cursor: pointer;
    min-width: 120px;
  }
}
