.QuranPage {
  display: inline-block;
  font-size: 36px;
  line-height: 195%;
  text-align: center;
  word-wrap: break-word;
  margin: 0 auto;
  max-width: 520px;
  padding: 5px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
}
