html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'font_chapter_title';
  src: url(https://raw.githubusercontent.com/Ahl-Althikr/scripts/master/quran_fonts_data/quran_chapter_titles.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Uthmani';
  src: url(~assets/fonts/Uthmani.otf);
}

@font-face {
  font-family: 'Uthmani-Bold';
  src: url(~assets/fonts/Uthmani-Bold.otf);
}
