.QuranVerse {
  cursor: pointer;

  &.isBlur span {
    filter: blur(5px);
  }

  & > span:hover {
    filter: blur(0px);
  }

  &:hover {
    color: #0764a9;
  }
}

.QuranVerseExplanation {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 20px;
  padding-top: 12px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  font-family: Uthmani;
}

.QuranBasmalah {
  text-align: center;
  font-family: font_page_1;
  margin: -1.76px 0;
}

.QuranChapterTitle {
  background: url(~assets/icons/chapter-title-bg-light.svg) 50% no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  text-align: center;
  color: #0764a9;
  font-family: font_chapter_title;
  height: 50px;
  width: 100%;
  min-width: 382.14px;
}

.QuranChapter {
  text-align: center;
}

:global(.page_1) .QuranVerse {
  &:nth-child(2):after,
  &:nth-child(3):after,
  &:nth-child(5):after,
  &:nth-child(7) span:nth-child(1):after,
  &:nth-child(8) span:nth-child(3):after,
  &:nth-child(8) span:nth-child(7):after {
    content: '\A';
    white-space: pre;
  }
}

:global(.page_2) .QuranVerse {
  &:nth-child(4) span:nth-child(8):after,
  &:nth-child(5) span:nth-child(5):after,
  &:nth-child(6) span:nth-child(4):after,
  &:nth-child(6):after,
  &:nth-child(7) span:nth-child(7):after {
    content: '\A';
    white-space: pre;
  }
}

:global(.page_167) .QuranVerse:nth-child(6) {
  span:nth-child(22) {
    margin-right: -4px;
  }
  span:nth-child(23),
  span:nth-child(24) {
    margin-right: -3px;
  }
}
