.QuranVerse {
  cursor: pointer;

  &.isBlur span {
    filter: blur(5px);
  }
  & > span:hover {
    filter: blur(0px);
  }

  &:hover {
    color: #0764a9;
  }
  &.isExplanation {
    margin: 0 5px;
  }
}

.QuranVerseExplanation {
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  padding: 12px 10px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  background: rgba($color: #000000, $alpha: 0.1);
  border-radius: 6px;
  margin: 0 5px;
  margin-bottom: 20px;
  font-family: Uthmani;
}

.QuranBasmalah {
  text-align: center;
  font-family: quran_page_1;
  margin: -1.76px 0;
}

.QuranChapterTitle {
  background: url(~assets/icons/chapter-title-bg-light.svg) 50% no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  text-align: center;
  color: #0764a9;
  font-family: quran_chapter_titles;
}

.QuranChapter {
  text-align: center;
}

:global(.page_1) .QuranVerse:not(.isExplanation) {
  &:nth-child(2):after,
  &:nth-child(3):after,
  &:nth-child(5):after,
  &:nth-child(7) span:nth-child(1):after,
  &:nth-child(8) span:nth-child(3):after,
  &:nth-child(8) span:nth-child(7):after {
    content: '\A';
    white-space: pre;
  }
}

:global(.page_2) .QuranVerse:not(.isExplanation) {
  &:nth-child(4) span:nth-child(8):after,
  &:nth-child(5) span:nth-child(5):after,
  &:nth-child(6) span:nth-child(4):after,
  &:nth-child(6):after,
  &:nth-child(7) span:nth-child(7):after {
    content: '\A';
    white-space: pre;
  }
}

:global(.page_167) .QuranVerse:not(.isExplanation):nth-child(6) {
  span:nth-child(22) {
    margin-right: -4px;
  }
  span:nth-child(23),
  span:nth-child(24) {
    margin-right: -3px;
  }
}
